<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <title>@ViewData["Title"] - Support Portal</title>

    <link href="~/lib2/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/intation.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*<environment include="Development">
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/intation.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib2/css/bootstrap.css" />
    @*<environment include="Development">
        <link rel="stylesheet" href="~/lib2/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib2/css/bootstrap.min.css" />
    </environment>*@

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-faded navbar-toggleable-md">
        <a asp-page="/Index" class="navbar-brand clearfix">InSupport</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-item nav-link" asp-page="/Knowledge/Knowledgebase">Knowledge</a></li>
                    <li class="nav-item"><a class="nav-item nav-link" asp-page="/DMS/DMS">Documents</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tickets
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link" asp-page="/Tickets/CreateTicket">Create ticket</a>
                                <a class="nav-link" asp-page="/Tickets/MyTickets">My Tickets</a>
                            </div>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {

                        <li class="nav-item">
                            <a class="nav-item nav-link" asp-page="/Admin/AdminTickets">Admin</a>

                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Agent"))
                    {
                        <li class="nav-item">
                            <a class="nav-item nav-link" asp-page="/Agent/AgentTickets">Agent</a>

                        </li>
                    }
                </ul>

            </div>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
    <div>
        <div class="title-banner">@ViewData["Title"]</div>
        <div style="overflow-x: hidden;">
            @RenderBody()
            <footer class="footer-all col-md-12">
                <hr />
                <p>&copy; 2018 - Intation</p>
            </footer>
        </div>
    </div>

    <!--  <environment include="Development">
          <script src="~/lib/jquery/dist/jquery.js"></script>
          <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
          <script src="~/js/site.js" asp-append-version="true"></script>
      </environment>-->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <!--      <environment exclude="Development">
         <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                 asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                 asp-fallback-test="window.jQuery"
                 crossorigin="anonymous"
                 integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
         </script>
       <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                 asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                 asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                 crossorigin="anonymous"
                 integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
         </script>
         <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>-->

    <environment include="Development">
        <script src="~/lib2/js/jquery-3.3.1.js"></script>
        <script src="~/lib2/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib2/js/jquery-3.3.1.min.js"></script>
        <script src="~/lib2/js/bootstrap.bundle.min.js"></script>
    </environment>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <script src="~/lib2/DataTables-1.10.16/js/jquery.dataTables.js"></script>
    <script src="~/lib2/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
