@page
@model TicketSystem.Pages.Admin.AdminCreateUserModel
@{
    ViewData["Title"] = "Admin Create User";
}
@inject RoleManager<IdentityRole> RoleManager

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <body>
        <br />
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 sidebar">
                    <div class="card card-default">
                        <div class="card-header">
                            <h5><strong>Admin Dashboard</strong></h5>
                        </div>
                        <div class="card-body">
                            <div class="sidebar-sticky">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminTickets">
                                            <span class="fa fa-envelope"></span>
                                            Tickets
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminMailTickets">
                                            <span class="fa fa-inbox"></span>
                                            Mailbox
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminChangeRoles">
                                            <span class="fa fa-user"></span>
                                            Users
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminCompanies">
                                            <span class="fa fa-address-book-o"></span>
                                            Companies
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminExactOnline">
                                            <span class="fa fa-address-book-o"></span>
                                            Exact Online
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminUpload">
                                            <span class="fa fa-upload"></span>
                                            Upload
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminDMS">
                                            <span class="fa fa-folder"></span>
                                            Documents
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminSettings">
                                            <span class="fa fa-cog"></span>
                                            Settings
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10">

                    <div class="card card-default">
                        <div class="card-header">
                            Add user
                        </div>
                        <div class="card-body">

                            <h3>Create a user</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <form method="post">
                                        <div class="form-group">
                                            <label>Email: </label>
                                            <input class="form-control" type="email" asp-for="Input.Email" placeholder="email@email.com" required>
                                        </div>
                                        <div class="form-group">
                                            <label>First Name: </label>
                                            <input class="form-control" asp-for="Input.Firstname" placeholder="First Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name: </label>
                                            <input class="form-control" asp-for="Input.Lastname" placeholder="Last Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Role: </label>
                                            <select class="form-control" asp-for="Input.Role">
                                                @foreach (var role in RoleManager.Roles)
            {
                                    <option>@role.Name</option>
}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary btn-block" type="submit">Create user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </main>
            </div>
        </div>


    </body>
}



else
{
    <p> You must be logged in as an 'admin' to view this page</p>

}


