@page
@model TicketSystem.Pages.Admin.AdminDMSModel
@{
    ViewData["Title"] = "AdminDMS";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <body>
        <br />
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 sidebar">
                    <div class="card panel-default">
                        <div class="card-header">
                            <h5><strong>Admin Dashboard</strong></h5>
                        </div>
                        <div class="card-body">
                            <div class="sidebar-sticky">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminTickets">
                                            <span class="fa fa-envelope"></span>
                                            Tickets
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminMailTickets">
                                            <span class="fa fa-inbox"></span>
                                            Mailbox
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminChangeRoles">
                                            <span class="fa fa-user"></span>
                                            Users
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminCompanies">
                                            <span class="fa fa-address-book-o"></span>
                                            Companies
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminExactOnline">
                                            <span class="fa fa-address-book-o"></span>
                                            Exact Online
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminUpload">
                                            <span class="fa fa-upload"></span>
                                            Upload
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminDMS">
                                            <span class="fa fa-folder"></span>
                                            Documents
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminSettings">
                                            <span class="fa fa-cog"></span>
                                            Settings
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10">

                    <div class="card card-default">
                        <div class="card-header">
                            Document Management
                        </div>
                        <div class="card-body">
                            <form method="post">

                                <div class="form-group col-md-6">
                                    <label>Add new directory:</label>
                                    <div class="form-row">
                                        <input class="form-control" asp-for="Input.NewPath" value="C:/Users/VSTS/INTATION/" />@*<button class="btn btn-primary" asp-page-handler="Folder">Select Folder</button> *@ @*id="ctrl" webkitdirectory directory multiple*@
                                    </div>
                                    <br />
                                    <button class="btn btn-primary" asp-page-handler="Add">Add new directory</button>
                                </div>
                            </form>
                            <form method="post" class="col-md-12">
                                <table class="table" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>Saved Directories</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.targetDirectory != null)
                                        {
                                            @foreach (var TargetDirectory in Model.targetDirectory)
                                            {
                                                <tr>
                                                    <td><a asp-page="/Admin/AdminDocumentSettings" asp-route-id="@TargetDirectory.Id">@TargetDirectory.DirectoryPath</a></td>
                                                    <td><button class="btn btn-primary" asp-page-handler="DeleteDirectory" asp-route-id="@TargetDirectory.Id"><span class="fa fa-trash"></span></button></td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>


                </main>
            </div>
        </div>


    </body>
}






else
{
    <p> You must be logged in as an 'admin' to view this page</p>

}
<style>
    .page-item.active .page-link {
        z-index: 1;
        color: rgba(0, 0, 0, 0.9);
        background-color: #dae0e5;
        border-color: #dae0e5;
    }
</style>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        })
    </script>
}