@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<br />
<br />
<div class="row align-items-center justify-content-center">
    <div class="align-self-center">
        <h4>Thank you for confirming your email address.</h4>
        <br />
        <p>Click this button to login.</p>
        <a class="btn btn-default" href="~/Account/Login">Login</a>
    </div>
</div>
