@page
@model TicketSystem.Pages.Account.ErrorHandlingModel
@{
    ViewData["Title"] = "Error";
}
<br />
<div class="row align-items-center justify-content-center">
    <div class="align-self-center">
        <h4>Oops something went wrong ...</h4>
        <br />
        <p>Please retry</p>
        <p>If your action fails again, contact the administrator.</p>
    </div>
</div>
