@page
@model TicketSystem.Pages.Account.RegisterSuccesModel
@{
    ViewData["Title"] = "Registration Succesful";
}
<br />
<div class="row align-items-center justify-content-center">
    <div class="align-self-center">
        <h4>You have succesfully registered at InSupport!</h4><br />
        <h5>With the following email: @Model.Email</h5>
        <p>Please check your inbox to confirm your account</p>
    </div>
</div>

