@page
@model TicketSystem.Pages.Agent.AgentCustomersModel
@{
    ViewData["Title"] = "Customers";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Agent"))
{
    <body>
        <br />
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 sidebar">
                    <div class="card card-default">
                        <div class="card-header">
                            <h5><strong>Agent Dashboard</strong></h5>
                        </div>
                        <div class="card-body">
                            <div class="sidebar-sticky">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Agent/AgentTickets">
                                            <span class="fa fa-envelope"></span>
                                            Tickets
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Agent/AgentCustomers">
                                            <span class="fa fa-user"></span>
                                            Customers
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Agent/AgentMailTickets">
                                            <span class="fa fa-inbox"></span>
                                            Mailbox
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Agent/AgentSettings">
                                            <span class="fa fa-inbox"></span>
                                            Settings
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10">

                    <div class="card card-default">
                        <div class="card-header clearfix">
                            <div class="col-md-4 pull-left">
                                Customers
                            </div>
                            <div class="col-md-1 pull-right">
                                <a asp-page="/Agent/AgentCreateCustomer">
                                    <span class="fa fa-plus"></span>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Users)
                                        {
                                            <tr>
                                                <td>@item.UserName</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </form>

                        </div>
                    </div>
                </main>
            </div>
        </div>


    </body>
}



else
{
    <p> You must be logged in as an 'Agent' to view this page</p>

}

